{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h5 class="mt-3">Welcome <br> <span class="text-capitalize">{{request.user}}</span></h5>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid my-3"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row mb-3">

    {% for add in address %}





    <h3 class="mt-">Address {{forloop.counter}}</h3>

    <table class="table table-bordered table-hover mb-5">
        <tbody>
          <tr>
            <th scope="row">Name</th>
            <td>{{add.name}}</td>
            
          </tr>
          <tr>
            <th scope="row">Locality</th>
            <td>{{add.locality}}</td>
            
          <tr>
            <th scope="row">City</th>
            <td>{{add.city}}</td>
            
          </tr>
          <tr>
            <th scope="row">Phone No</th>
            <td>{{add.phone}}</td>
            
          </tr>

          <tr>
            <th scope="row">Zip Code</th>
            <td>{{add.zipcode}}</td>
            
          </tr>
          <tr>
            <th scope="row">State</th>
            <td>{{add.state}}</td>
            
          </tr>
        </tbody>
      </table>
<hr>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}