{% extends 'app/base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block main-content %}
<div class="container">


  




   <div class="row my-5">
    <div class="col-sm-6 offset-sm-3">
     <hr>
     <form action="" method="post"  class="shadow p-5">
      {% csrf_token %}

      <div class="mb-3">

         {% if messages %}
         {% for message in messages %}
         <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
           <strong>Message : </strong> {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         {% endfor %}
         {% endif %}
   


         <h3 class="text-center">Forgot Password</h3>

<br>
       <label for="username" class="form-label">Username</label>
       <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" required>
       <small>Please enter username and we will send you mail for further instructions !</small>
      </div>

      

       <small><a href="/accounts/login">Back to login ?</a></small> <br>
     
      <button type="submit" class="btn btn-primary my-3">Send Email</button>
      <br>
     </form>
    </div>
   </div>
  </div>
{% endblock main-content %}